/* App Container */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;  /* Dark background */
  height: 100vh;              /* Takes full viewport height */
  margin: 0;
  padding: 0;  
}
.modeLabel {
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.header {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}
.ManualControls{
  position: fixed;
  top: 10vh;
  height: 75vh;
}
.controlHeader{
  height: 5vh;
  position: fixed;
  top: 2vh;
  display: flex;
  flex-direction: row;
  gap: 10vw;
}


