.App {
  text-align: center;
  background-color: #121212;  /* Change from gray to black */
  height: 100vh;            /* Make sure the height takes the full viewport */
  margin: 0;                /* Remove any default margin */
}

.ManualControls {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 20vw;
  position: fixed;
  top: 50%;           /* Center vertically */
  left: 50%;          /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the position to truly center */
}

/* Media query for smaller screens */
@media (max-width: 1090px) {
  .ManualControls {
    gap: 10px;
    padding: 15px;
    width: 50vw; 
    height: 100px; 
  }

}